@media screen and (max-width: 950px) {
  .login-wrapper {
    width: 100%;
    padding: 0 2rem;
  }

  .login-wrapper .login-button {
    width: 50%;
    justify-content: center;
  }
}

.locales-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
