.services-wrapper {
  grid-template-columns: max-content auto;

  @media screen and (max-width: 950px) {
    grid-template-columns: auto;
  }

  .price-input {
    width: 10rem;

    @media screen and (max-width: 950px) {
      width: 100%;
    }
  }
}
