.order-container {
  width: 75%;
}

@media screen and (max-width: 950px) {
  .select-wrapper {
    width: 100%;
  }

  .filters-wrapper {
    flex-direction: column;
  }

  .order-header {
    flex-direction: column;
  }

  .admin-controls {
    flex-direction: column;
  }

  .status-select {
    margin-left: 1.75rem;
  }

  .status-filter-select {
    margin-left: 1.1rem;
  }

  .order-type-select {
    margin-left: 1.9rem;
  }

  .order-wrapper {
    flex-direction: column;
  }

  .order-container {
    width: 100%;
  }

  .order-additional-block {
    width: 100%;
  }

  .order-title {
    width: 100%;
  }
}

.transportation-badge {
  border: 1px solid #495057;
  border-radius: 1rem;
}
