.order-container {
  width: 75%;
}

.filters-wrapper {
  width: 100%;
  display: inline-grid;
  grid-template-columns: max-content 1fr max-content 1fr max-content 1fr;
}

@media screen and (max-width: 950px) {
  .filters-wrapper {
    display: grid;
    grid-template-columns: max-content auto;
  }

  .select-wrapper {
    width: 100%;
  }

  .order-header {
    flex-direction: column;
  }

  .admin-controls {
    flex-direction: column;
  }

  .order-wrapper {
    flex-direction: column;
  }

  .order-container {
    width: 100%;
  }

  .order-additional-block {
    width: 100%;
  }

  .order-title {
    width: 100%;
  }
}

.transportation-badge {
  border: 1px solid #495057;
  border-radius: 1rem;
}
